body {
  background-color: #FFF8F0;
}

img.main-image {
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding: 10px 10px;
  color: #FFF8F0;
  font-size: 25px;
  text-align: center;
  background-color: #92140C;
  text-shadow: 0px -1px 0px #92140C;
}

nav.navbar {
  margin-top: none !important;
  background-color: #FFF8F0;
}

nav > .active {
  background-color: #FFF8F0;
}

nav a  {
  color: #FFF8F0;
}

.footer {
  margin-top: 20px;
  color: #FFF8F0;
  background-color: #92140C;
}

#header {
  margin-bottom: 0;
}

.navbar-default {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #92140C;
  color: #1E1E24;
}

ul.nav a {
  color: #92140C;
}

#nav-container {
  border-bottom: 2px solid #92140C;
}

#nav-container a:hover {
  background-color: #E0E0E2;
}

#main {
  padding-top: 80px;
  padding-bottom: 20px;
}